# Installs, Imports and Constants

In [ ]:
!pip install git+https://github.com/pro-football-focus/pypff.git
!pip install socceraction

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/pro-football-focus/pypff.git
  Cloning https://github.com/pro-football-focus/pypff.git to /tmp/pip-req-build-4rkvnfux
  Running command git clone --filter=blob:none --quiet https://github.com/pro-football-focus/pypff.git /tmp/pip-req-build-4rkvnfux
  Resolved https://github.com/pro-football-focus/pypff.git to commit 0d3913362cba6512b6dfa74c0e69cde58da5d436
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from PyPFF==0.2) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from PyPFF==0.2) (2.27.1)
Requirement already satisfied: pyhumps in /usr/local/lib/python3.10/dist-packages (from PyPFF==0.2) (3.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->PyPFF==0.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->PyPFF==0.2) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->PyPFF==0.2) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->PyPFF==0.2) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->PyPFF==0.2) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->PyPFF==0.2) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->PyPFF==0.2) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->PyPFF==0.2) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: socceraction in /usr/local/lib/python3.10/dist-packages (1.4.1)
Requirement already satisfied: lxml<5.0.0,>=4.6.3 in /usr/local/lib/python3.10/dist-packages (from socceraction) (4.9.2)
Requirement already satisfied: numpy<2.0.0,>=1.21.2 in /usr/local/lib/python3.10/dist-packages (from socceraction) (1.22.4)
Requirement already satisfied: pandas<2.0.0,>=1.3.3 in /usr/local/lib/python3.10/dist-packages (from socceraction) (1.5.3)
Requirement already satisfied: pandera<0.14.0,>=0.13.4 in /usr/local/lib/python3.10/dist-packages (from socceraction) (0.13.4)
Requirement already satisfied: scikit-learn<2.0.0,>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from socceraction) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.3.3->socceraction) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.3.3->socceraction) (2022.7.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pandera<0.14.0,>=0.13.4->socceraction) (23.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.10/dist-packages (from pandera<0.14.0,>=0.13.4->socceraction) (1.10.7)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pandera<0.14.0,>=0.13.4->socceraction) (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from pandera<0.14.0,>=0.13.4->socceraction) (1.14.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.2.1->socceraction) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.2.1->socceraction) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2.0.0,>=1.2.1->socceraction) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.3.3->socceraction) (1.16.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera<0.14.0,>=0.13.4->socceraction) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera<0.14.0,>=0.13.4->socceraction) (4.5.0)

In [16]:
def get_pff_key(key_location='./../key_pff'):
    with open(key_location, 'r') as f:
        key = f.read().strip()
    return key

In [17]:
url = 'https://faraday.pff.com/api'
key = get_pff_key()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [6]:
from pypff import pff
import pandas as pd
import numpy as np

In [7]:
from socceraction.spadl.config import bodyparts as bodyparts_spadl
from socceraction.spadl.config import results as results_spadl
from socceraction.spadl.config import actiontypes as actiontypes_spadl

# Data Load

In [18]:
pff.get_competitions(url, key)

                                               games  id              name
0  [{'id': '1315', 'season': '2021-2022'}, {'id':...   1    Premier League
1  [{'id': '260', 'season': '2020'}, {'id': '3237...   3               MLS
2  [{'id': '2076', 'season': '2021-2022'}, {'id':...  18        Bundesliga
3  [{'id': '13068', 'season': '2022-2023'}, {'id'...  23  EFL Championship

In [ ]:
pff.get_competition(url, key, 1)

                                      games id            name
0     {'id': '1395', 'season': '2021-2022'}  1  Premier League
1     {'id': '1431', 'season': '2021-2022'}  1  Premier League
2     {'id': '4476', 'season': '2022-2023'}  1  Premier League
3     {'id': '1373', 'season': '2021-2022'}  1  Premier League
4     {'id': '4667', 'season': '2022-2023'}  1  Premier League
...                                     ... ..             ...
1135  {'id': '4702', 'season': '2022-2023'}  1  Premier League
1136  {'id': '4770', 'season': '2022-2023'}  1  Premier League
1137  {'id': '4501', 'season': '2022-2023'}  1  Premier League
1138  {'id': '4777', 'season': '2022-2023'}  1  Premier League
1139  {'id': '4720', 'season': '2022-2023'}  1  Premier League

[1140 rows x 3 columns]

In [ ]:
pff.get_teams(url, key)

,awayGames,country,homeGames,id,name,shortName
0,"[{'id': '4452'}, {'id': '4471'}, {'id': '4493'...",England,"[{'id': '4438'}, {'id': '4456'}, {'id': '4476'...",1,AFC Bournemouth,BOU
1,"[{'id': '149'}, {'id': '177'}, {'id': '190'}, ...",England,"[{'id': '161'}, {'id': '184'}, {'id': '205'}, ...",2,Arsenal,ARS
2,"[{'id': '176'}, {'id': '195'}, {'id': '229'}, ...",England,"[{'id': '166'}, {'id': '187'}, {'id': '198'}, ...",3,Aston Villa,AVL
3,"[{'id': '163'}, {'id': '179'}, {'id': '193'}, ...",England,"[{'id': '156'}, {'id': '168'}, {'id': '206'}, ...",4,Brighton & Hove Albion,BHA
4,"[{'id': '165'}, {'id': '181'}, {'id': '196'}, ...",England,"[{'id': '171'}, {'id': '207'}, {'id': '221'}, ...",5,Burnley,BUR
...,...,...,...,...,...,...
88,"[{'id': '4818'}, {'id': '4838'}, {'id': '4859'...",Germany,"[{'id': '4831'}, {'id': '4849'}, {'id': '4867'...",242,FC Schalke 04,S04
89,"[{'id': '5897'}, {'id': '5920'}, {'id': '5929'...",England,"[{'id': '5889'}, {'id': '5916'}, {'id': '5952'...",333,Wigan Athletic,WIG
90,"[{'id': '5896'}, {'id': '5922'}, {'id': '5935'...",England,"[{'id': '5888'}, {'id': '5913'}, {'id': '5949'...",334,Rotherham United,RTU
91,"[{'id': '5894'}, {'id': '5924'}, {'id': '5938'...",England,"[{'id': '5891'}, {'id': '5914'}, {'id': '5950'...",335,Sunderland AFC,SUN
92,"[{'id': '10526'}, {'id': '10557'}, {'id': '105...",USA,"[{'id': '10542'}, {'id': '10571'}, {'id': '105...",513,St. Louis City SC,SLC

In [ ]:
pff.get_team(url, key, 1)

,awayGames,country,homeGames,id,name,shortName
0,"[{'id': '4452'}, {'id': '4471'}, {'id': '4493'...",England,"[{'id': '4438'}, {'id': '4456'}, {'id': '4476'...",1,AFC Bournemouth,BOU

In [ ]:
pff.get_games(url, key, 1)

,awayTeam,awayTeamKit,competition,date,endPeriod1,endPeriod2,halfPeriod,homeTeam,homeTeamKit,homeTeamStartLeft,id,period1,period2,season,startPeriod1,startPeriod2,week
0,"{'id': '10', 'name': 'Liverpool', 'shortName':...","{'name': 'alt-2', 'primaryColor': '#EBEAD5', '...","{'id': '1', 'name': 'Premier League'}",2022-05-10T19:00:00,3083.316,6184.184,48.583,"{'id': '3', 'name': 'Aston Villa', 'shortName'...","{'name': 'home', 'primaryColor': '#660E36', 'p...",True,1395,48.980633,50.871417,2021-2022,144.478,3131.899,33
1,"{'id': '8', 'name': 'Everton', 'shortName': 'E...","{'name': '2022', 'primaryColor': '#ffffff', 'p...","{'id': '1', 'name': 'Premier League'}",2022-05-08T13:00:00,2902.202,5896.029,80.313,"{'id': '9', 'name': 'Leicester City', 'shortNa...","{'name': 'home', 'primaryColor': '#233A80', 'p...",True,1431,48.036367,48.558567,2021-2022,20.020,2982.515,36
2,"{'id': '20', 'name': 'Wolverhampton Wanderers'...","{'name': 'home', 'primaryColor': '#F59E1F', 'p...","{'id': '1', 'name': 'Premier League'}",2022-08-31T18:30:00,3060.587,6208.937,78.693,"{'id': '1', 'name': 'AFC Bournemouth', 'shortN...","{'name': 'home', 'primaryColor': '#E20613', 'p...",False,4476,48.262200,51.160950,2022-2023,164.855,3139.280,5
3,"{'id': '8', 'name': 'Everton', 'shortName': 'E...","{'name': 'home', 'primaryColor': '#0B478F', 'p...","{'id': '1', 'name': 'Premier League'}",2022-05-11T18:45:00,2875.313,5912.386,97.283,"{'id': '18', 'name': 'Watford', 'shortName': '...","{'name': 'home', 'primaryColor': '#FBEE23', 'p...",True,1373,45.025850,48.996500,2021-2022,173.762,2972.596,30
4,"{'id': '7', 'name': 'Crystal Palace', 'shortNa...","{'name': 'alt-1', 'primaryColor': '#323131', '...","{'id': '1', 'name': 'Premier League'}",2023-02-18T15:00:00,3008.542,6224.124,118.852,"{'id': '119', 'name': 'Brentford', 'shortName'...","{'name': 'Home', 'primaryColor': '#e30613', 'p...",True,4667,47.020367,51.612167,2022-2023,187.320,3127.394,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,"{'id': '20', 'name': 'Wolverhampton Wanderers'...","{'name': 'home', 'primaryColor': '#F59E1F', 'p...","{'id': '1', 'name': 'Premier League'}",2023-03-12T16:30:00,2911.178,6011.979,92.259,"{'id': '13', 'name': 'Newcastle United', 'shor...","{'name': 'home', 'primaryColor': '#000000', 'p...",True,4702,46.965300,50.142367,2022-2023,93.260,3003.437,27
1136,"{'id': '11', 'name': 'Manchester City', 'short...","{'name': 'away', 'primaryColor': '#2B2B2B', 'p...","{'id': '1', 'name': 'Premier League'}",2023-04-30T13:00:00,3020.220,6365.165,106.273,"{'id': '54', 'name': 'Fulham', 'shortName': 'F...","{'name': 'home', 'primaryColor': '#FFFFFF', 'p...",True,4770,49.979983,53.977867,2022-2023,21.421,3126.493,34
1137,"{'id': '3', 'name': 'Aston Villa', 'shortName'...","{'name': 'home', 'primaryColor': '#660E36', 'p...","{'id': '1', 'name': 'Premier League'}",2023-04-04T18:45:00,3001.735,6162.829,63.530,"{'id': '9', 'name': 'Leicester City', 'shortNa...","{'name': 'home', 'primaryColor': '#233A80', 'p...",True,4501,46.951950,51.626067,2022-2023,184.618,3065.265,7
1138,"{'id': '9', 'name': 'Leicester City', 'shortNa...","{'name': 'home', 'primaryColor': '#233A80', 'p...","{'id': '1', 'name': 'Premier League'}",2023-05-08T14:00:00,2826.126,5937.337,50.551,"{'id': '54', 'name': 'Fulham', 'shortName': 'F...","{'name': 'home', 'primaryColor': '#FFFFFF', 'p...",True,4777,45.961533,51.011000,2022-2023,68.434,2876.677,35
1139,"{'id': '17', 'name': 'Tottenham Hotspur', 'sho...","{'name': 'home', 'primaryColor': '#FFFFFF', 'p...","{'id': '1', 'name': 'Premier League'}",2023-04-03T19:00:00,3053.287,6184.484,49.049,"{'id': '8', 'name': 'Everton', 'shortName': 'E...","{'name': 'home', 'primaryColor': '#0B478F', 'p...",False,4720,48.004117,51.369133,2022-2023,173.040,3102.336,29

In [ ]:
pff.get_game(url, key, 1395)

,awayTeam,awayTeamKit,competition,date,endPeriod1,endPeriod2,halfPeriod,homeTeam,homeTeamKit,homeTeamStartLeft,id,period1,period2,season,startPeriod1,startPeriod2,week
0,"{'id': '10', 'name': 'Liverpool', 'shortName':...","{'name': 'alt-2', 'primaryColor': '#EBEAD5', '...","{'id': '1', 'name': 'Premier League'}",2022-05-10T19:00:00,3083.316,6184.184,48.583,"{'id': '3', 'name': 'Aston Villa', 'shortName'...","{'name': 'home', 'primaryColor': '#660E36', 'p...",True,1395,48.980633,50.871417,2021-2022,144.478,3131.899,33

In [ ]:
pff.get_players_competition(url, key, 1)

,countryOfBirth,dob,euMember,firstName,gender,height,id,lastName,nationality,nickname,positionGroupType,secondNationality,weight
1112,NaN,2004-04-25,False,Michael,M,NaN,18247,Olakigbe,NaN,Michael Olakigbe,RW,NaN,NaN
1708,NaN,None,None,Lewis,None,NaN,3087,Richards,NaN,Lewis Richards,D,NaN,NaN
1758,NaN,None,None,Antwoine,None,NaN,2119,Hackford,NaN,Antwoine Hackford,F,NaN,NaN
2055,NaN,None,None,Anthony,None,NaN,7893,Mancini,NaN,Anthony Mancini,M,NaN,NaN
2208,NaN,2006-07-18,False,Samuel,M,NaN,18945,Amo-Ameyaw,NaN,Samuel Amo-Ameyaw,LW,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45595,NaN,None,None,Martin,None,NaN,315,Dubravka,NaN,Martin Dubravka,GK,NaN,NaN
45596,NaN,None,None,Kyle,None,NaN,16,Walker,NaN,Kyle Walker,D,NaN,NaN
45597,NaN,None,None,Douglas,None,NaN,366,Luiz,NaN,Douglas Luiz,M,NaN,NaN
45598,NaN,None,None,Issa,None,NaN,257,Diop,NaN,Issa Diop,D,NaN,NaN
45599,NaN,None,None,Clement,None,NaN,1508,Lenglet,NaN,Clement Lenglet,D,NaN,NaN

In [ ]:
pff.get_player(url, key, 2005)

,countryOfBirth,dob,euMember,firstName,gender,height,id,lastName,nationality,nickname,positionGroupType,rosters,secondNationality,weight
0,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '152'}, 'started': True}",None,None
1,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '159'}, 'started': True}",None,None
2,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '172'}, 'started': True}",None,None
3,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '180'}, 'started': True}",None,None
4,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '197'}, 'started': True}",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '4779'}, 'started': False}",None,None
75,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '4790'}, 'started': False}",None,None
76,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '4799'}, 'started': True}",None,None
77,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '4748'}, 'started': False}",None,None
78,None,None,None,Kalvin,None,None,2005,Phillips,None,Kalvin Phillips,M,"{'game': {'id': '4807'}, 'started': True}",None,None

In [ ]:
pff.get_roster(url, key, 4770)

,game_id,player,positionGroupType,shirtNumber,team
0,4770,"{'id': '393', 'nickname': 'Harrison Reed'}",CM,6,"{'id': '54', 'name': 'Fulham'}"
1,4770,"{'id': '390', 'nickname': 'Cédric Soares'}",RB,12,"{'id': '54', 'name': 'Fulham'}"
2,4770,"{'id': '10', 'nickname': 'John Stones'}",DM,5,"{'id': '11', 'name': 'Manchester City'}"
3,4770,"{'id': '570', 'nickname': 'Scott Carson'}",GK,33,"{'id': '11', 'name': 'Manchester City'}"
4,4770,"{'id': '2068', 'nickname': 'Carlos Vinicius'}",CF,30,"{'id': '54', 'name': 'Fulham'}"
5,4770,"{'id': '8660', 'nickname': 'Manor Solomon'}",LW,11,"{'id': '54', 'name': 'Fulham'}"
6,4770,"{'id': '371', 'nickname': 'Jack Grealish'}",LWB,10,"{'id': '11', 'name': 'Manchester City'}"
7,4770,"{'id': '15652', 'nickname': 'Maximo Perrone'}",DM,32,"{'id': '11', 'name': 'Manchester City'}"
8,4770,"{'id': '13', 'nickname': 'Tosin Adarabioyo'}",RCB,4,"{'id': '54', 'name': 'Fulham'}"
9,4770,"{'id': '1986', 'nickname': 'Neeskens Kebano'}",LW,7,"{'id': '54', 'name': 'Fulham'}"
10,4770,"{'id': '6', 'nickname': 'Ederson'}",GK,31,"{'id': '11', 'name': 'Manchester City'}"
11,4770,"{'id': '20', 'nickname': 'Ilkay Gündogan'}",AM,8,"{'id': '11', 'name': 'Manchester City'}"
12,4770,"{'id': '4525', 'nickname': 'Stefan Ortega'}",GK,18,"{'id': '11', 'name': 'Manchester City'}"
13,4770,"{'id': '134', 'nickname': 'Andreas Pereira'}",AM,18,"{'id': '54', 'name': 'Fulham'}"
14,4770,"{'id': '12664', 'nickname': 'Saša Lukić'}",CM,28,"{'id': '54', 'name': 'Fulham'}"
15,4770,"{'id': '16', 'nickname': 'Kyle Walker'}",RCB,2,"{'id': '11', 'name': 'Manchester City'}"
16,4770,"{'id': '21', 'nickname': 'Phil Foden'}",CM,47,"{'id': '11', 'name': 'Manchester City'}"
17,4770,"{'id': '1973', 'nickname': 'Antonee Robinson'}",LB,33,"{'id': '54', 'name': 'Fulham'}"
18,4770,"{'id': '440', 'nickname': 'Shane Duffy'}",RCB,5,"{'id': '54', 'name': 'Fulham'}"
19,4770,"{'id': '2066', 'nickname': 'Ruben Dias'}",MCB,3,"{'id': '11', 'name': 'Manchester City'}"
20,4770,"{'id': '10715', 'nickname': 'Julian Alvarez'}",AM,19,"{'id': '11', 'name': 'Manchester City'}"
21,4770,"{'id': '9', 'nickname': 'Aymeric Laporte'}",LCB,14,"{'id': '11', 'name': 'Manchester City'}"
22,4770,"{'id': '1971', 'nickname': 'Tim Ream'}",LCB,13,"{'id': '54', 'name': 'Fulham'}"
23,4770,"{'id': '308', 'nickname': 'Harry Wilson'}",RW,8,"{'id': '54', 'name': 'Fulham'}"
24,4770,"{'id': '1966', 'nickname': 'Marek Rodak'}",GK,1,"{'id': '54', 'name': 'Fulham'}"
25,4770,"{'id': '4687', 'nickname': 'Erling Haaland'}",CF,9,"{'id': '11', 'name': 'Manchester City'}"
26,4770,"{'id': '27', 'nickname': 'Bernardo Silva'}",AM,20,"{'id': '11', 'name': 'Manchester City'}"
27,4770,"{'id': '143', 'nickname': 'Bernd Leno'}",GK,17,"{'id': '54', 'name': 'Fulham'}"
28,4770,"{'id': '1990', 'nickname': 'Bobby Reid'}",LW,14,"{'id': '54', 'name': 'Fulham'}"
29,4770,"{'id': '1981', 'nickname': 'Tom Cairney'}",CM,10,"{'id': '54', 'name': 'Fulham'}"
30,4770,"{'id': '28', 'nickname': 'Riyad Mahrez'}",RWB,26,"{'id': '11', 'name': 'Manchester City'}"
31,4770,"{'id': '13321', 'nickname': 'Sergio Gómez'}",LB,21,"{'id': '11', 'name': 'Manchester City'}"
32,4770,"{'id': '1974', 'nickname': 'Kenny Tete'}",RB,2,"{'id': '54', 'name': 'Fulham'}"
33,4770,"{'id': '257', 'nickname': 'Issa Diop'}",RCB,31,"{'id': '54', 'name': 'Fulham'}"
34,4770,"{'id': '4661', 'nickname': 'Manuel Akanji'}",LCB,25,"{'id': '11', 'name': 'Manchester City'}"
35,4770,"{'id': '10717', 'nickname': 'Rico Lewis'}",RB,82,"{'id': '11', 'name': 'Manchester City'}"
36,4770,"{'id': '8077', 'nickname': 'Joao Palhinha'}",CM,26,"{'id': '54', 'name': 'Fulham'}"
37,4770,"{'id': '137', 'nickname': 'Daniel James'}",RW,21,"{'id': '54', 'name': 'Fulham'}"
38,4770,"{'id': '18', 'nickname': 'Rodri'}",DM,16,"{'id': '11', 'name': 'Manchester City'}"
39,4770,"{'id': '2005', 'nickname': 'Kalvin Phillips'}",DM,4,"{'id': '11', 'name': 'Manchester City'}"

In [ ]:
pff.get_game_events(url, key, 4770)

,gameId,id,earlyDistribution,pressurePlayer,endTime,heightType,gameEventType,videoMissing,playerOffType,gameClock,...,possessionEvents,player,offenderLocations,touchesInBox,insertedAt,formattedGameClock,defenderLocations,otherPlayer,videoAngleType,video
0,4770,9645749,None,None,21.421,G,FIRSTKICKOFF,False,None,0.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '20', 'nickname': 'Ilkay Gündogan'}",[],NaN,2023-04-30T16:18:35,00:00,[],None,None,None
1,4770,9645752,None,None,26.960,G,OTB,False,None,2.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '6', 'nickname': 'Ederson'}",[],NaN,2023-04-30T16:18:47,00:02,[],None,None,None
2,4770,9645760,None,"{'id': '1990', 'nickname': 'Bobby Reid'}",30.631,A,OTB,False,None,9.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '4687', 'nickname': 'Erling Haaland'}",[],NaN,2023-04-30T16:19:10,00:09,[],None,None,None
3,4770,9645762,None,"{'id': '10715', 'nickname': 'Julian Alvarez'}",32.065,A,OTB,False,None,10.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '393', 'nickname': 'Harrison Reed'}",[],NaN,2023-04-30T16:19:17,00:10,[],None,None,None
4,4770,9645767,None,None,34.167,V,OTB,False,None,11.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '16', 'nickname': 'Kyle Walker'}",[],NaN,2023-04-30T16:19:47,00:11,[],None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413,4770,9656390,None,"{'id': '4687', 'nickname': 'Erling Haaland'}",6357.391,G,OTB,False,None,5930.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '143', 'nickname': 'Bernd Leno'}",[],NaN,2023-04-30T20:57:22,98:50,[],None,None,None
1414,4770,9656393,None,None,6361.228,A,OTB,False,None,5934.0,...,"[{'ballCarryEvent': None, 'challengeEvent': {'...","{'id': '4661', 'nickname': 'Manuel Akanji'}",[],NaN,2023-04-30T20:57:29,98:54,[],None,None,None
1415,4770,9656396,None,"{'id': '371', 'nickname': 'Jack Grealish'}",6362.396,H,OTB,False,None,5935.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '1974', 'nickname': 'Kenny Tete'}",[],NaN,2023-04-30T20:57:35,98:55,[],None,None,None
1416,4770,9656398,None,None,6364.064,L,OTB,False,None,5937.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '2066', 'nickname': 'Ruben Dias'}",[],NaN,2023-04-30T20:57:42,98:57,[],None,None,None
1417,4770,9656400,None,None,6365.165,G,END,False,None,5938.0,...,[],None,[],NaN,2023-04-30T20:57:46,98:58,[],None,None,None

# Data Prep

In [ ]:
pff_events = pff.get_game_events(url, key, 4490)

In [ ]:
pff_events

,gameId,id,earlyDistribution,pressurePlayer,endTime,heightType,gameEventType,videoMissing,playerOffType,gameClock,...,possessionEvents,player,offenderLocations,touchesInBox,insertedAt,formattedGameClock,defenderLocations,otherPlayer,videoAngleType,video
0,4490,5052097,None,None,20.387,G,FIRSTKICKOFF,False,None,0.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '590', 'nickname': 'Harvey Elliott'}",[],NaN,2022-09-03T13:51:21,00:00,[],None,None,{'id': '3723'}
1,4490,5052099,None,None,22.789,G,OTB,False,None,1.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '38', 'nickname': 'Joe Gomez'}",[],NaN,2022-09-03T13:56:30,00:01,[],None,None,{'id': '3723'}
2,4490,5052101,None,None,NaN,G,OUT,False,None,5.0,...,[],None,[],NaN,2022-09-03T13:56:34,00:05,[],None,None,{'id': '3723'}
3,4490,5052104,None,None,42.809,A,OTB,False,None,22.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '7095', 'nickname': 'Nathan Patterson'}",[],NaN,2022-09-03T13:56:59,00:22,[],None,None,{'id': '3723'}
4,4490,5052106,None,"{'id': '223', 'nickname': 'Demarai Gray'}",45.579,L,OTB,False,None,25.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '38', 'nickname': 'Joe Gomez'}",[],NaN,2022-09-03T13:58:20,00:25,[],None,None,{'id': '3723'}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,4490,5053981,None,"{'id': '7072', 'nickname': 'Vitaliy Mykolenko'}",5977.945,G,OTB,False,None,5789.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '56', 'nickname': 'Mohamed Salah'}",[],NaN,2022-09-03T16:42:12,96:29,[],None,None,{'id': '3723'}
1278,4490,5053983,None,"{'id': '4498', 'nickname': 'Amadou Onana'}",5979.012,G,OTB,False,None,5792.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '59', 'nickname': 'Roberto Firmino'}",[],1.0,2022-09-03T16:42:20,96:32,[],None,None,{'id': '3723'}
1279,4490,5053991,None,None,5981.582,G,OTB,False,None,5793.0,...,"[{'ballCarryEvent': None, 'challengeEvent': {'...","{'id': '56', 'nickname': 'Mohamed Salah'}",[],1.0,2022-09-03T16:42:37,96:33,[],None,None,{'id': '3723'}
1280,4490,5053998,None,None,5982.349,L,OTB,False,None,5795.0,...,"[{'ballCarryEvent': None, 'challengeEvent': No...","{'id': '489', 'nickname': 'James Tarkowski'}",[],NaN,2022-09-03T16:43:07,96:35,[],None,None,{'id': '3723'}
1281,4490,5054000,None,None,5984.918,G,END,False,None,5798.0,...,[],None,[],NaN,2022-09-03T16:43:15,96:38,[],None,None,{'id': '3723'}

In [ ]:
pff_events.columns

Index(['gameId', 'id', 'earlyDistribution', 'pressurePlayer', 'endTime',
       'heightType', 'gameEventType', 'videoMissing', 'playerOffType',
       'gameClock', 'duration', 'playerOn', 'pressureType', 'initialTouchType',
       'endType', 'bodyType', 'touches', 'playerOff', 'subType', 'updatedAt',
       'startTime', 'videoUrl', 'scoreValue', 'advantageType', 'team',
       'outType', 'setpieceType', 'possessionEvents', 'player',
       'offenderLocations', 'touchesInBox', 'insertedAt', 'formattedGameClock',
       'defenderLocations', 'otherPlayer', 'videoAngleType', 'video'],
      dtype='object')

## Event and game ids

In [ ]:
# rename id to event_id
pff_events = pff_events.rename(columns={
    "id": "event_id",
    "gameId": "game_id",
})

## Player Info

In [ ]:
pff_events.loc[1,"player"]

{'id': '38', 'nickname': 'Joe Gomez'}

In [ ]:
# Function to extract player name and id
def extract_player_info(row):
  if row["player"] is None:
    return pd.Series([None, None])
  return pd.Series([row["player"]["nickname"], row["player"]["id"]])

# Apply function to each row and create new columns
pff_events[["player_name", "player_id"]] = pff_events.apply(extract_player_info, axis=1)

## Bodypart Info

In [ ]:
def bodypart2spadl(row):
  bodyparts_pff = {
      "TWOHANDS": {"name": "other","id": bodyparts_spadl.index("other")},
      "BA": {"name": "other","id": bodyparts_spadl.index("other")}, # back
      "BO": {"name": "other","id": bodyparts_spadl.index("other")}, # bottom
      "CA": {"name": "other","id": bodyparts_spadl.index("other")}, # two hand catch
      "CH": {"name": "other","id": bodyparts_spadl.index("other")}, # chest
      "HE": {"name": "head","id": bodyparts_spadl.index("head")},
      "L": {"name": "foot_left","id": bodyparts_spadl.index("foot_left")},
      "LA": {"name": "other","id": bodyparts_spadl.index("other")},  # left arm
      "LB": {"name": "foot_left","id": bodyparts_spadl.index("foot_left")}, # left back heel
      "LC": {"name": "other","id": bodyparts_spadl.index("other")}, # left shoulder
      "LH": {"name": "other","id": bodyparts_spadl.index("other")}, # left hand
      "LK": {"name": "other","id": bodyparts_spadl.index("other")}, # Left knee
      "LS": {"name": "other","id": bodyparts_spadl.index("other")}, # left shin
      "LT": {"name": "other","id": bodyparts_spadl.index("other")}, # left thigh
      "PA": {"name": "other","id": bodyparts_spadl.index("other")}, # Two Hand Palm
      "PU": {"name": "other","id": bodyparts_spadl.index("other")}, # Two Hand Punch
      "R": {"name": "foot_right","id": bodyparts_spadl.index("foot_right")},
      "RA": {"name": "other","id": bodyparts_spadl.index("other")},  # right arm
      "RB": {"name": "foot_right","id": bodyparts_spadl.index("foot_right")}, # right back heel
      "RC": {"name": "other","id": bodyparts_spadl.index("other")}, # right shoulder
      "RH": {"name": "other","id": bodyparts_spadl.index("other")}, # right hand
      "RK": {"name": "other","id": bodyparts_spadl.index("other")}, # right knee
      "RS": {"name": "other","id": bodyparts_spadl.index("other")}, # right shin
      "RT": {"name": "other","id": bodyparts_spadl.index("other")}, # right thigh
      "VM": {"name": "other","id": bodyparts_spadl.index("other")}, # video missing
  }
  if row["bodyType"] is None:
    return pd.Series([None, None])

  return pd.Series([bodyparts_pff[row["bodyType"]]["name"], bodyparts_pff[row["bodyType"]]["id"]])

pff_events[["bodypart_name", "bodypart_id"]] = pff_events.apply(bodypart2spadl, axis=1)

## Period id and seconds

In [ ]:
half_index = pff_events.index[pff_events['gameEventType'] == 'SECONDKICKOFF'].tolist()[0]

pff_events['period_id'] = pff_events.index <= half_index

pff_events.loc[pff_events['period_id'], 'period_id'] = 1
pff_events.loc[pff_events['period_id'] == False,'period_id'] = 2

pff_events["seconds"] = pff_events["gameClock"]

## Action type and result - NO INSERT

TODOs:
- offside - result type (aparentemente resolvido pra passes e cruzamentos. Tem que ver os rebotes)
- rebound - convert to action type
- interception - add one more line
- keeper (except goalkick) - - add one more line
- remove none

SPADL TABLE

<table class="docutils align-default">
<thead>
<tr class="row-odd"><th class="head"><p>Action type</p></th>
<th class="head"><p>Description</p></th>
<th class="head"><p>Success?</p></th>
<th class="head"><p>Special result</p></th>
<th class="head"><p>Done?</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>Pass</p></td>
<td><p>Normal pass in open play</p></td>
<td><p>Reaches teammate</p></td>
<td><p>Offside</p></td>
<td><p>Missing offside treatment</p></td>
</tr>
<tr class="row-odd"><td><p>Cross</p></td>
<td><p>Cross into the box</p></td>
<td><p>Reaches teammate</p></td>
<td><p>Offside</p></td>
<td><p>Missing offside treatment</p></td>
</tr>
<tr class="row-even"><td><p>Throw-in</p></td>
<td><p>Throw-in</p></td>
<td><p>Reaches teammate</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Crossed free-kick</p></td>
<td><p>Free kick crossed into the box</p></td>
<td><p>Reaches teammate</p></td>
<td><p>Offside</p></td>
<td><p>Missing offside treatment</p></td>
</tr>
<tr class="row-even"><td><p>Short free-kick</p></td>
<td><p>Short free-kick</p></td>
<td><p>Reaches team mate</p></td>
<td><p>Offside</p></td>
<td><p>Missing offside treatment</p></td>
</tr>
<tr class="row-odd"><td><p>Crossed corner</p></td>
<td><p>Corner crossed into the box</p></td>
<td><p>Reaches teammate</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-even"><td><p>Short corner</p></td>
<td><p>Short corner</p></td>
<td><p>Reaches teammate</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Take on</p></td>
<td><p>Attempt to dribble past opponent</p></td>
<td><p>Keeps possession</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-even"><td><p>Foul</p></td>
<td><p>Foul</p></td>
<td><p>Always fail</p></td>
<td><p>Red or yellow card</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Tackle</p></td>
<td><p>Tackle on the ball</p></td>
<td><p>Regains possession</p></td>
<td><p>/</p></td>
<td><p>Ok</p></td>
</tr>
<tr class="row-even"><td><p>Interception</p></td>
<td><p>Interception of the ball</p></td>
<td><p>Regains possession</p></td>
<td><p>/</p></td>
<td><p>Missing interception treatment</p></td>
</tr>
<tr class="row-odd"><td><p>Shot</p></td>
<td><p>Shot attempt not from penalty or free-kick</p></td>
<td><p>Goal</p></td>
<td><p>Own goal</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-even"><td><p>Penalty shot</p></td>
<td><p>Penalty shot</p></td>
<td><p>Goal</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Free-kick shot</p></td>
<td><p>Direct free-kick on goal</p></td>
<td><p>Goal</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-even"><td><p>Keeper save</p></td>
<td><p>Keeper saves a shot on goal</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>Missing goalkeeper treatment</p></td>
</tr>
<tr class="row-odd"><td><p>Keeper claim</p></td>
<td><p>Keeper catches a cross</p></td>
<td><p>Does not drop the ball</p></td>
<td><p>/</p></td>
<td><p>Missing goalkeeper treatment</p></td>
</tr>
<tr class="row-even"><td><p>Keeper punch</p></td>
<td><p>Keeper punches the ball clear</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>Missing goalkeeper treatment</p></td>
</tr>
<tr class="row-odd"><td><p>Keeper pick-up</p></td>
<td><p>Keeper picks up the ball</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>Missing goalkeeper treatment</p></td>
</tr>
<tr class="row-even"><td><p>Clearance</p></td>
<td><p>Player clearance</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Bad touch</p></td>
<td><p>Player makes a bad touch and loses the ball</p></td>
<td><p>Always fail</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-even"><td><p>Dribble</p></td>
<td><p>Player dribbles at least 3 meters with the ball</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
<tr class="row-odd"><td><p>Goal kick</p></td>
<td><p>Goal kick</p></td>
<td><p>Always success</p></td>
<td><p>/</p></td>
<td><p>OK</p></td>
</tr>
</tbody>
</table>

In [ ]:
def get_possession_events(row):
  if row['possessionEvents'] == []:
    return pd.Series([
      None,
      None,
      None,
      None,
      None,
      None,
      None,
      None,
  ])
  return pd.Series([
      row['possessionEvents'][0]["ballCarryEvent"],
      row['possessionEvents'][0]["challengeEvent"],
      row['possessionEvents'][0]["clearanceEvent"],
      row['possessionEvents'][0]["crossEvent"],
      row['possessionEvents'][0]["fouls"],
      row['possessionEvents'][0]["passingEvent"],
      row['possessionEvents'][0]["reboundEvent"],
      row['possessionEvents'][0]["shootingEvent"],
  ])

pff_events[[
  "ballCarryEvent",
  "challengeEvent",
  "clearanceEvent",
  "crossEvent",
  "fouls",
  "passingEvent",
  "reboundEvent",
  "shootingEvent"
]] = pff_events.apply(get_possession_events, axis=1)

In [ ]:
def actionresutl2spadl_noinsert(row):
  # pffPossessionEventType = {
  #   "BC": "dribble", # ball carry
  #   "CH": ['foul','tackle','interception'], # challenge
  #   "CL": 'clearence',  # clearence
  #   "CR": "cross",
  #   "PA": "pass",
  #   "RE": "shot",
  #   "SH": "shot"
  # }

  # pffSetpieceType = {
  #   "C": "corner",
  #   "D": "Drop Ball",
  #   "F": "free kick",
  #   "G": "goal kick",
  #   "K": "Kickoff",
  #   "P": "penalty",
  #   "T": "throw in"
  # }

  finalEvent = {
      "actiontype_name": "non_action",
      "actiontype_id": actiontypes_spadl.index("non_action"),
      "result_name": None,
      "result_id": None
  }

  if row["possessionEvents"] == []:
    return pd.Series([
      finalEvent["actiontype_name"],
      finalEvent["actiontype_id"],
      finalEvent["result_name"],
      finalEvent["result_id"]
  ])

  possessionEvent = row["possessionEvents"][0]
  setpieceType = row["setpieceType"]

  # pass
  if possessionEvent["possessionEventType"] == "PA":
    passEvent = row["passingEvent"]
    passOutcome = "success" if passEvent["passOutcomeType"] == "C" else "fail"
    #Filtro de impedimento - Leo:
    if (possessionEvent['fouls'] != [] and possessionEvent['fouls'][0]['potentialOffenseType'] == 'O'):
      passOutcome = 'offside'
    # TODO: checar solução pra impedimentos acima

    # pass action type based on set piece
    passActionType = "pass"
    if setpieceType == "T":
      passActionType == "throw_in"
    elif setpieceType == "K": # kickoff
      passActionType = "pass"
    elif setpieceType == "C": # corner
      passActionType = "corner_short"
    elif setpieceType == "F": # freekick
      passActionType = "freekick_short"
    elif setpieceType == "G": # goalkick
      passActionType = "goalkick"

    finalEvent["actiontype_name"] = passActionType
    finalEvent["actiontype_id"] = actiontypes_spadl.index(passActionType)
    finalEvent["result_name"] = passOutcome
    finalEvent["result_id"] = results_spadl.index(passOutcome)

  # cross
  if possessionEvent["possessionEventType"] == "CR":
    crossEvent = row["crossEvent"]
    crossOutcome = "success" if crossEvent["crossOutcomeType"] == "C" else "fail"
    #Filtro de impedimento - Leo:
    if (possessionEvent['fouls'] != [] and possessionEvent['fouls'][0]['potentialOffenseType'] == 'O'):
      crossOutcome = 'offside'
    # TODO: checar solução pra impedimentos acima

    # cross action type based on set piece
    crossActionType = "cross"
    if setpieceType == "C": # corner
      crossActionType = "corner_crossed"
    elif setpieceType == "F": # freekick
      crossActionType = "freekick_crossed"
    elif setpieceType == "G": # goalkick
      crossActionType = "goalkick"


    finalEvent["actiontype_name"] = crossActionType
    finalEvent["actiontype_id"] = actiontypes_spadl.index(crossActionType)
    finalEvent["result_name"] = crossOutcome
    finalEvent["result_id"] = results_spadl.index(crossOutcome)

  # shot
  if possessionEvent["possessionEventType"] == "SH":
    shotEvent = row["shootingEvent"]
    shotOutcome = "success" if shotEvent["shotOutcomeType"] == "G" else "fail" # goal or not goal

    # shot action type based on set piece
    shotActionType = "shot"
    if setpieceType == "P": # penalty
      shotActionType = "shot_penalty"
    elif setpieceType == "F": # freekick
      shotActionType = "shot_freekick"


    finalEvent["actiontype_name"] = shotActionType
    finalEvent["actiontype_id"] = actiontypes_spadl.index(shotActionType)
    finalEvent["result_name"] = shotOutcome
    finalEvent["result_id"] = results_spadl.index(shotOutcome)

  # TODO: treat this type
  if possessionEvent["possessionEventType"] == "RE":
    pass

  # ball carry
  if possessionEvent["possessionEventType"] == "BC":
    ballCarryType = "dribble"
    ballCarryOutcome = "success"

    if row["ballCarryEvent"]["ballCarryType"] == "C": # dribble
      ballCarryType = "dribble"
      ballCarryOutcome = "success"

    elif row["ballCarryEvent"]["ballCarryType"] == "D": # take on
      ballCarryType = "take_on"
      # SUCCESS -> B = keeps ball with contact, F = foul, K = keeps ball,
      # FAIL -> H = mishit, O forced out of play, L = beats man loses ball, M = missed foul, S = successful tackle
      ballCarryOutcome = "success" if row["ballCarryEvent"]["dribbleOutcomeType"] in ["B","F","K"] else "fail"

    elif row["ballCarryEvent"]["ballCarryType"] == "T":
      ballCarryType = "bad_touch"
      ballCarryOutcome = "fail"
      # shot action type based on touch
      if row["ballCarryEvent"]["touchOutcomeType"] == "W": # own goal https://d1ztjbijp0kuqr.cloudfront.net/#definition-TouchOutcomeType
        ballCarryType = "shot"
        ballCarryOutcome = "owngoal"


    finalEvent["actiontype_name"] = ballCarryType
    finalEvent["actiontype_id"] = actiontypes_spadl.index(ballCarryType)
    finalEvent["result_name"] = ballCarryOutcome
    finalEvent["result_id"] = results_spadl.index(ballCarryOutcome)

  # challenge
  if possessionEvent["possessionEventType"] == "CH":
    challengeEvent = row["challengeEvent"]

    if challengeEvent["challengeOutcomeType"] == "F":
      finalEvent["actiontype_name"] = "foul"
      finalEvent["actiontype_id"] = actiontypes_spadl.index("foul")

      #https://d1ztjbijp0kuqr.cloudfront.net/#definition-FoulOutcomeType
      foul = possessionEvent["fouls"][0]
      foulOutcome = "fail"
      if foul["foulOutcomeType"] == "Y":
        foulOutcome = "yellow_card"
      if foul["foulOutcomeType"] == "S" or foul["foulOutcomeType"] == "R":
        foulOutcome = "red_card"

      finalEvent["result_name"] = foulOutcome
      finalEvent["result_id"] = results_spadl.index(foulOutcome)


    if challengeEvent["tackleAttemptType"] == "G": # on ball tackle
      finalEvent["actiontype_name"] = "tackle"
      finalEvent["actiontype_id"] = actiontypes_spadl.index("tackle")
      finalEvent["result_name"] = "success"
      finalEvent["result_id"] = results_spadl.index("success")
    else: # tackle error
      finalEvent["actiontype_name"] = "tackle"
      finalEvent["actiontype_id"] = actiontypes_spadl.index("tackle")
      finalEvent["result_name"] = "fail"
      finalEvent["result_id"] = results_spadl.index("fail")


    # TODO other chllenge types

  # clearence
  if possessionEvent["possessionEventType"] == "CL":
    finalEvent["actiontype_name"] = "clearance"
    finalEvent["actiontype_id"] = actiontypes_spadl.index("clearance")
    finalEvent["result_name"] = "success"
    finalEvent["result_id"] = results_spadl.index("success")

  return pd.Series([
      finalEvent["actiontype_name"],
      finalEvent["actiontype_id"],
      finalEvent["result_name"],
      finalEvent["result_id"]
  ])


pff_events[["actiontype_name","actiontype_id","result_name","result_id"]] = pff_events.apply(actionresutl2spadl_noinsert, axis=1)

In [ ]:
pff_events[pff_events["actiontype_name"]!="non_action"][["actiontype_name","actiontype_id","result_name","result_id"]]

     actiontype_name  actiontype_id result_name  result_id
0               pass              0     success        1.0
1               pass              0        fail        0.0
3               pass              0        fail        0.0
4               pass              0     success        1.0
5               pass              0        fail        0.0
...              ...            ...         ...        ...
1276            pass              0     success        1.0
1277            pass              0     success        1.0
1278            pass              0     success        1.0
1279          tackle              9        fail        0.0
1280       clearance             18     success        1.0

[1063 rows x 4 columns]

In [ ]:
pff_events.iloc[50]

game_id                                                            4490
event_id                                                        5052159
earlyDistribution                                                  None
pressurePlayer                  {'id': '191', 'nickname': 'Alex Iwobi'}
endTime                                                         240.874
heightType                                                            L
gameEventType                                                       OTB
videoMissing                                                      False
playerOffType                                                      None
gameClock                                                         220.0
duration                                                            0.0
playerOn                                                           None
pressureType                                                          A
initialTouchType                                                   None
endType                                                            None
bodyType                                                              R
touches                                                             1.0
playerOff                                                          None
subType                                                               S
updatedAt                                           2022-09-04T03:34:58
startTime                                                       240.874
videoUrl              epitome.pff.com/e6321eb5-d995-4dd6-86eb-271b3e...
scoreValue                                                         None
advantageType                                                      None
team                                  {'id': '10', 'name': 'Liverpool'}
outType                                                            None
setpieceType                                                       None
possessionEvents      [{'ballCarryEvent': None, 'challengeEvent': No...
player                              {'id': '44', 'nickname': 'Fabinho'}
offenderLocations                                                    []
touchesInBox                                                        NaN
insertedAt                                          2022-09-03T14:10:42
formattedGameClock                                                03:40
defenderLocations                                                    []
otherPlayer                                                        None
videoAngleType                                                     None
video                                                    {'id': '3723'}
player_name                                                     Fabinho
player_id                                                            44
bodypart_name                                                foot_right
bodypart_id                                                           5
period_id                                                             1
seconds                                                           220.0
ballCarryEvent                                                     None
challengeEvent                                                     None
clearanceEvent                                                     None
crossEvent                                                         None
fouls                                                                []
passingEvent          {'deflectorPlayer': None, 'passOutcomeType': '...
reboundEvent                                                       None
shootingEvent                                                      None
actiontype_name                                                    pass
actiontype_id                                                         0
result_name                                                     success
result_id                                                           1.0
Name: 50, dtype: object

## (x,y) coordinates

In [ ]:
first_half = pd.read_json("/content/drive/My Drive/pff/4490_1.jsonl", lines=True)
second_half = pd.read_json("/content/drive/My Drive/pff/4490_2.jsonl", lines=True)
tracking = pd.concat([first_half,second_half],axis=0)
del first_half
del second_half
tracking

,version,gameRefId,generatedTime,videoTimeMs,frameNum,period,periodElapsedTime,periodGameClockTime,homePlayers,homePlayersSmoothed,awayPlayers,awayPlayersSmoothed,balls,ballsSmoothed,sequence,home_ball,game_event_id,possession_event_id,game_event,possession_event
0,4.1.0,4490,2023-05-31T13:35:36.811689Z,20387.054,611,1,0.000054,0.000054,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'visibility': 'VISIBLE', 'x': -1.39000000000...","{'visibility': 'VISIBLE', 'x': -0.133, 'y': -1...",1.0,0.0,5052097.0,4885209.0,"{'game_id': 4490, 'game_event_type': '1KO', 'c...","{'game_id': 4490, 'game_event_id': 5052097, 'p..."
1,4.1.0,4490,2023-05-31T13:35:36.811689Z,20420.420,612,1,0.033420,0.033420,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'visibility': 'VISIBLE', 'x': -1.39000000000...","{'visibility': 'VISIBLE', 'x': -0.2982380952, ...",1.0,0.0,NaN,NaN,None,None
2,4.1.0,4490,2023-05-31T13:35:36.811689Z,20453.787,613,1,0.066787,0.066787,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'visibility': 'VISIBLE', 'x': -1.88, 'y': 0....","{'visibility': 'VISIBLE', 'x': -0.4634761905, ...",1.0,0.0,NaN,NaN,None,None
3,4.1.0,4490,2023-05-31T13:35:36.811689Z,20487.154,614,1,0.100154,0.100154,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'visibility': 'VISIBLE', 'x': -1.88, 'y': 0....","{'visibility': 'VISIBLE', 'x': -0.6287142857, ...",1.0,0.0,NaN,NaN,None,None
4,4.1.0,4490,2023-05-31T13:35:36.811689Z,20520.521,615,1,0.133521,0.133521,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'jerseyNum': '21', 'confidence': 'HIGH', 'vi...","[{'visibility': 'VISIBLE', 'x': -2.58, 'y': 0....","{'visibility': 'VISIBLE', 'x': -0.793952381000...",1.0,0.0,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92884,4.1.0,4490,2023-05-31T13:35:36.811689Z,5984784.785,179364,2,3098.197785,5798.197785,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'visibility': 'ESTIMATED', 'x': -12.22, 'y':...","{'visibility': 'ESTIMATED', 'x': -39.223, 'y':...",373.0,1.0,NaN,NaN,None,None
92885,4.1.0,4490,2023-05-31T13:35:36.811689Z,5984818.151,179365,2,3098.231151,5798.231151,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'visibility': 'ESTIMATED', 'x': -12.22, 'y':...","{'visibility': 'ESTIMATED', 'x': -39.223, 'y':...",373.0,1.0,NaN,NaN,None,None
92886,4.1.0,4490,2023-05-31T13:35:36.811689Z,5984851.518,179366,2,3098.264518,5798.264518,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'visibility': 'ESTIMATED', 'x': -10.42, 'y':...","{'visibility': 'ESTIMATED', 'x': -39.223, 'y':...",373.0,1.0,NaN,NaN,None,None
92887,4.1.0,4490,2023-05-31T13:35:36.811689Z,5984884.885,179367,2,3098.297885,5798.297885,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...","[{'visibility': 'ESTIMATED', 'x': -10.42, 'y':...","{'visibility': 'ESTIMATED', 'x': -39.223, 'y':...",373.0,1.0,NaN,NaN,None,None
92888,4.1.0,4490,2023-05-31T13:35:36.811689Z,5984918.252,179368,2,3098.331252,5798.331000,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...",None,"[{'jerseyNum': '1', 'confidence': 'LOW', 'visi...",None,[],None,373.0,1.0,NaN,NaN,None,None

In [ ]:
tracking = tracking[pd.notna(tracking.game_event_id)]

In [ ]:
def extract_ball_coordinates(row):
    ball_dict = {}
    if len(row['balls']) > 0:
      ball = row['balls'][0]
      ball_dict['Ball_x'] = ball['x']
      ball_dict['Ball_y'] = ball['y']
    else:
      ball_dict['Ball_x'] = None
      ball_dict['Ball_y'] = None
    return ball_dict

In [ ]:
tracking['ball_coordinates'] = tracking.apply(extract_ball_coordinates, axis=1)
tracking['Ball_x'] = tracking['ball_coordinates'].apply(lambda x: x['Ball_x'])
tracking['Ball_y'] = tracking['ball_coordinates'].apply(lambda x: x['Ball_y'])

<ipython-input-31-11acb92e305d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracking['ball_coordinates'] = tracking.apply(extract_ball_coordinates, axis=1)
<ipython-input-31-11acb92e305d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracking['Ball_x'] = tracking['ball_coordinates'].apply(lambda x: x['Ball_x'])
<ipython-input-31-11acb92e305d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracking['Ball_y'] = tracking['ball_coordinates'].apply(lambda x: x['Ball_y'])

In [ ]:
tracking=tracking[["game_event_id","possession_event_id","Ball_x","Ball_y"]]

In [ ]:
tracking[["Ball_x","Ball_y"]] = np.asarray(tracking[["Ball_x","Ball_y"]]) + np.array([105/2,68/2])

<ipython-input-33-3ded24ba0fb7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracking[["Ball_x","Ball_y"]] = np.asarray(tracking[["Ball_x","Ball_y"]]) + np.array([105/2,68/2])

In [ ]:
tracking = tracking.drop_duplicates(subset='game_event_id', keep='first')

In [ ]:
tracking.game_event_id = tracking.game_event_id.astype(int)

In [ ]:
pff_events.event_id =  pff_events.event_id.astype(int)

In [ ]:
pff_events.merge(
    tracking[["game_event_id","Ball_x","Ball_y"]],
    how="left",
    left_on="event_id",
    right_on="game_event_id"
)

,game_id,event_id,earlyDistribution,pressurePlayer,endTime,heightType,gameEventType,videoMissing,playerOffType,gameClock,...,passingEvent,reboundEvent,shootingEvent,actiontype_name,actiontype_id,result_name,result_id,game_event_id,Ball_x,Ball_y
0,4490,5052097,None,None,20.387,G,FIRSTKICKOFF,False,None,0.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0,5052097.0,51.11,34.56
1,4490,5052099,None,None,22.789,G,OTB,False,None,1.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,fail,0.0,5052099.0,38.06,36.20
2,4490,5052101,None,None,NaN,G,OUT,False,None,5.0,...,None,None,None,non_action,20,None,NaN,5052101.0,85.26,69.20
3,4490,5052104,None,None,42.809,A,OTB,False,None,22.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,fail,0.0,5052104.0,67.70,65.21
4,4490,5052106,None,"{'id': '223', 'nickname': 'Demarai Gray'}",45.579,L,OTB,False,None,25.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0,5052106.0,47.11,64.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,4490,5053981,None,"{'id': '7072', 'nickname': 'Vitaliy Mykolenko'}",5977.945,G,OTB,False,None,5789.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0,5053981.0,22.08,64.33
1278,4490,5053983,None,"{'id': '4498', 'nickname': 'Amadou Onana'}",5979.012,G,OTB,False,None,5792.0,...,"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0,5053983.0,14.14,51.77
1279,4490,5053991,None,None,5981.582,G,OTB,False,None,5793.0,...,None,None,None,tackle,9,fail,0.0,5053991.0,17.40,47.58
1280,4490,5053998,None,None,5982.349,L,OTB,False,None,5795.0,...,None,None,None,clearance,18,success,1.0,5053998.0,9.62,39.14
1281,4490,5054000,None,None,5984.918,G,END,False,None,5798.0,...,None,None,None,non_action,20,None,NaN,NaN,NaN,NaN

## Action type and result - INSERT

In [ ]:
def actionresutl2spadl_insert(df):
  for i, row in df.iterrows():

    finalEvent = {
      "actiontype_name": "non_action",
      "actiontype_id": actiontypes_spadl.index("non_action"),
      "result_name": None,
      "result_id": None
    }

    # TODO: interception
    if row["possessionEvents"] != []:

      possessionEvent = row["possessionEvents"][0]

      # pass
      if possessionEvent["possessionEventType"] == "PA":

        passEvent = possessionEvent["passingEvent"]

        if passEvent["deflectorPlayer"] is not None:

          player_id = passEvent["deflectorPlayer"]["id"]
          player_name = passEvent["deflectorPlayer"]["nickname"]

          interceptionOutcome = "success" if passEvent["passOutcomeType"] != "C" else "fail"

          row["player_name"] = player_name
          row["player_id"] = player_id
          row["actiontype_name"] = "interception"
          row["actiontype_id"] = actiontypes_spadl.index("interception")
          row["result_name"] = interceptionOutcome
          row["result_id"] = results_spadl.index(interceptionOutcome)
          df = pd.concat([df.loc[:i], row, df.loc[i + 1:]]).reset_index(drop=True)
          i += 1

      # cross
      elif possessionEvent["possessionEventType"] == "CR":

        crossEvent = row["crossEvent"]

        if crossEvent["deflectorPlayer"] is not None:

          player_id = crossEvent["deflectorPlayer"]["id"]
          player_name = crossEvent["deflectorPlayer"]["nickname"]

          interceptionOutcome = "success" if crossEvent["crossOutcomeType"] != "C" else "fail"

          row["player_name"] = player_name
          row["player_id"] = player_id
          row["actiontype_name"] = "interception"
          row["actiontype_id"] = actiontypes_spadl.index("interception")
          row["result_name"] = interceptionOutcome
          row["result_id"] = results_spadl.index(interceptionOutcome)
          df = pd.concat([df.loc[:i], row, df.loc[i + 1:]]).reset_index(drop=True)
          i += 1


    # TODO: goalkeeper


    # new_row = pd.DataFrame([[value1, value2, ...]], columns=df.columns)  # Create a new row
    # df = pd.concat([df.loc[:index], new_row, df.loc[index + 1:]]).reset_index(drop=True)
    # index += 1  # Increment the index to skip the newly inserted row

  return df

In [ ]:
 pff_events = org

In [ ]:
pff_events

,game_id,event_id,earlyDistribution,pressurePlayer,endTime,heightType,gameEventType,videoMissing,playerOffType,gameClock,...,clearanceEvent,crossEvent,fouls,passingEvent,reboundEvent,shootingEvent,actiontype_name,actiontype_id,result_name,result_id
0,4490,5052097,None,None,20.387,G,FIRSTKICKOFF,False,None,0.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0
1,4490,5052099,None,None,22.789,G,OTB,False,None,1.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,fail,0.0
2,4490,5052101,None,None,NaN,G,OUT,False,None,5.0,...,None,None,None,None,None,None,non_action,20,None,NaN
3,4490,5052104,None,None,42.809,A,OTB,False,None,22.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,fail,0.0
4,4490,5052106,None,"{'id': '223', 'nickname': 'Demarai Gray'}",45.579,L,OTB,False,None,25.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,4490,5053981,None,"{'id': '7072', 'nickname': 'Vitaliy Mykolenko'}",5977.945,G,OTB,False,None,5789.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0
1278,4490,5053983,None,"{'id': '4498', 'nickname': 'Amadou Onana'}",5979.012,G,OTB,False,None,5792.0,...,None,None,[],"{'deflectorPlayer': None, 'passOutcomeType': '...",None,None,pass,0,success,1.0
1279,4490,5053991,None,None,5981.582,G,OTB,False,None,5793.0,...,None,None,[],None,None,None,tackle,9,fail,0.0
1280,4490,5053998,None,None,5982.349,L,OTB,False,None,5795.0,...,"{'advantageType': None, 'ballHeightType': 'A',...",None,[],None,None,None,clearance,18,success,1.0
1281,4490,5054000,None,None,5984.918,G,END,False,None,5798.0,...,None,None,None,None,None,None,non_action,20,None,NaN

In [ ]:
pff_events = actionresutl2spadl_insert(pff_events)
pff_events.shape

(1447, 56)